.pyc
*.pyo
*.wsp
*~
*.pydevproject
*.project
*.sqlite
TODO
docs/_build
docs/html
build-tools/*.rpm
.installed.cfg
bin
build
develop-eggs
dist
downloads
eggs
*\.egg/
*egg-info
parts
site_media/media/reviews_files/*
*.rej
.DS_Store
htmlcov/*
.coverage
.*.swp
node_modules
npm-debug*
__pycache__
